:root {
  --black: #151515;
  --accent: #4ee1a0;
  --grey: #242424;
  --light-accent: #d9d9d9;
  --white: #ffffff;
  --main-font: SpceGrotesk;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 1rem;
}

.hero-nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.hero-nav-container div ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.hero-image-container {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 385px;
  width: 175px;
}

.hero-image-container img {
  object-fit: cover;
}

.hero-text-container {
  margin-top: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

h2 span.heading-highlight {
  position: relative;
}

h2 span.heading-highlight::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--accent);
  bottom: 3px;
}

.hero-text-container a:hover {
  color: var(--accent);
}

.rings {
  position: absolute;
  top: 125px;
  left: -342px;
  z-index: 0;
}

.circle {
  position: absolute;
  top: 255px;
  right: -65;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 1.875rem;
  }

  .hero-nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hero-nav-container div ul {
    gap: 2rem;
  }

  .hero-image-container {
    top: 0;
    right: 0;
    z-index: 1;
    height: 600px;
    width: 322px;
  }

  .hero-text-container {
    position: absolute;
    height: 450px;
    width: 445px;
    top: 150px;
    left: 32px;
    margin-top: 0;
    gap: 1.5rem;
    text-align: left;
    align-items: start;
    z-index: 5;
  }

  .hero-text-container h2 {
    margin-bottom: 60px;
  }

  .heading-span {
    display: block;
  }

  .rings {
    top: 88px;
  }

  .circle {
    top: 470px;
    z-index: 1;
  }
}
@media screen and (min-width: 1024px) {
  .hero-container {
    padding: 2.5rem 10.3125rem;
  }

  .hero-nav-container {
    margin-right: 30px;
  }

  .hero-image-container {
    right: 160px;
    z-index: 1;
    height: 720px;
    width: 445px;
  }

  .hero-text-container {
    position: absolute;
    height: 300px;
    width: 710px;
    top: 200px;
    left: 165px;
  }

  .hero-text-container h2 {
    margin-bottom: 40px;
  }

  .hero-text-container a {
    margin-top: 60px;
  }

  .heading-span {
    display: inline;
  }

  .intro {
    width: 36ch;
  }

  .rings {
    top: 88px;
  }
  .circle {
    top: 521px;
    z-index: 1;
    right: 545px;
  }
}
