:root {
  --black: #151515;
  --accent: #4ee1a0;
  --grey: #242424;
  --light-accent: #d9d9d9;
  --white: #ffffff;
  --main-font: SpceGrotesk;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 1rem;
}

.hero-nav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.hero-nav-container div ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.hero-image-container {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 385px;
  width: 175px;
}

.hero-image-container img {
  object-fit: cover;
}

.hero-text-container {
  margin-top: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-text-container h2 span {
  position: relative;
}

.hero-text-container h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--accent);
  bottom: 3px;
}

.rings {
  position: absolute;
  top: 125px;
  left: -342px;
  z-index: 0;
}

.circle {
  position: absolute;
  top: 255px;
  right: -65;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 1.875rem;
  }

  .hero-nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .hero-nav-container div ul {
    gap: 2rem;
  }

  .hero-image-container {
    top: 0;
    right: 0;
    z-index: 1;
    height: 600px;
    width: 372px;
  }

  .hero-text-container {
    margin-top: 150px;
    height: 450px;
    width: 445px;
    border: 1px solid red;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1.5rem; */
  }
}
