@font-face {
  font-family: "SpceGrotesk";
  src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-weight: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
*,
*::before,
*::after {
  border: 1px solid red;
} */

:root {
  --black: #151515;
  --accent: #4ee1a0;
  --grey: #242424;
  --light-accent: #d9d9d9;
  --white: #ffffff;
  --main-font: SpceGrotesk;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--main-font), sans-serif;
  background-color: var(--black);
  color: var(--white);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Typography */

.heading-xl,
.heading-l,
.heading-m {
  font-weight: 700;
}

.heading-xl {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.14px;
}

.heading-l {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
}
.heading-m {
  font-size: 24px;
  line-height: 32px;
}

.medium-text {
  font-size: 18px;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .heading-xl {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }

  .heading-l {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}
@media screen and (min-width: 1024px) {
  .heading-xl {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
}

.btn {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.29px;
  text-transform: uppercase;
  color: var(--white);
  position: relative;
  display: inline-block;
  width: max-content;
  height: 38px;
}

.btn::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  right: 0;
  height: 4px;
  background: var(--accent);
}

.break {
  height: 1px;
  background-color: var(--light-accent);
  width: 95%;
  margin: 0 auto;
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .break {
    width: 92%;
  }
  .break.hide {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .break {
    width: 76%;
  }
}
