:root {
  --black: #151515;
  --accent: #4ee1a0;
  --grey: #242424;
  --light-accent: #d9d9d9;
  --white: #ffffff;
  --main-font: SpceGrotesk;
}

.projects-wrapper {
  padding: 16px;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-section {
  margin: 40px 16px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-img {
  position: relative;
  width: 100%;
  height: 255px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-tags {
  display: flex;
  gap: 1rem;
}

.card-links {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .projects-wrapper {
    padding: 30px;
  }

  .cards-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .projects-wrapper {
    padding: 140px 0px;
  }

  .cards-section {
    margin: 0;
    margin-top: 80px;
  }

  .card {
    position: relative;
  }

  .card-image {
    height: 400px;
    width: 538px;
    transition: all 0.5s ease;
    cursor: pointer;
    display: block;
  }
  .card:hover .card-image {
    filter: brightness(70%) grayscale(20%);
  }

  .card-links {
    display: none;
  }

  .card:hover .card-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
  }
}
